* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: #07072b;
  /* background-image: url(../assets/bgImg/Clear_0.jpg); */
  background-position: center center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
button:focus {
  outline: none;
}
ul {
  list-style: none;
}

/* todo */
#todoWrap {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 98px 1fr;
  grid-gap: 20px;
}

/* todo header */
header {
  min-height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#weatherBox {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 10px;
}
.current-weather {
  display: grid;
  font-size: 12px;
  width: 100%;
}
.current-weather li {
  margin-top: 3px;
}
.current-weather img {
  width: 65px;
  /* margin-left: px; */
}
.current-icon {
  width: 50px;
  margin-left: 11px;
  margin-top: 9px;
}
.hours-weather {
  width: 60px;
  margin: 0 6px;
  height: 90px;
  text-align: center;
}
.hours-weather h6 {
  font-size: 10px;
  margin: 0;
}
.hours-weather img {
  width: 50px;
  position: relative;
  top: -4px;
}
.hours-weather span {
  font-size: 10px;
  font-weight: bold;
  display: block;
  position: relative;
  top: -15px;
}

/* todo main */
#newProjectForm {
  margin-left: 5%;
}
.todo-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.todo-container > div {
  /* background: ; */
  margin: 20px 0;
  padding: 10px;
  height: fit-content;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.todo-container > div:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
dt {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}

dd {
  font-size: 16px;
  margin-left: 25px;
  margin-right: 30px;
}
.todo-container > div > form {
  margin-top: 15px;
  margin-left: 2px;
}
input {
  all: unset;
  font-size: 12px;
}

.delete-project,
.complete-project {
  width: 20px;
  height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #07072b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  position: absolute;
  top: 7px;
}
.delete-project {
  right: 10px;
}
.complete-project {
  right: 30px;
}
.complete-todo,
.delete-todo {
  display: block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #07072b;
  position: relative;
}
.complete-todo {
  top: 10px;
  left: 5px;
}
.delete-todo {
  top: 35px;
  left: 5px;
  color: white;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.complete-todo i {
  color: red;
  z-index: 99999;
  position: absolute;
  top: -7px;
  left: 1px;
  font-size: 16px;
}

.modify-sublist {
  position: relative;
  top: -21px;
  left: 25px;
  width: calc(100% - 25px);
  background: #007cd5;
}

.main-weather {
  width: 200px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center;
  position: relative;
  top: -20px;
}
.main-weather > li {
  width: 100px;
}
.main-weather > li:first-child {
  top: 15px;
  position: relative;
}
.main-weather > li:first-child img {
  height: 100px;
}
.main-weather > li:nth-child(2) {
  font-size: 40px;
  top: 40px;
  position: relative;
}

#signUp,
#logIn {
  position: relative;
  top: 30px;
  left: 45px;
  margin-right: 20px;
}
